In [1]:
# sets in python

In [2]:
# A set is a type of data that stores a set of things.

# A set set of unique things.

# {1, 3} <- 3
# adding any duplicate value will affect nothing to set, it will unchanged
# -> {1, 3}

In [3]:
# To define an empty set
a = set()
print(a)

set()

In [4]:
# To add element to set .add() method
a.add(1)
print(a)

{1}

In [5]:
a.add(2)
print(a)

{1, 2}

In [6]:
# set rejects duplicates, hence a would be unchanged upon adding deplicate
a.add(2)
print(a)

{1, 2}

In [7]:
# to iterate over set
for x in a:
    print(x)

1
2

In [8]:
# sets are useful when you want to remove duplicates from the list

In [9]:
given_list1 = [1, 1, 2, 4, 2]

In [10]:
new_set1 = set()
for x in given_list1:
    new_set1.add(x)
print(new_set1)

{1, 2, 4}

In [11]:
new_list1 = list()
for x in new_set1:
    new_list1.append(x)
print(new_list1)

[1, 2, 4]

In [12]:
new_list2 = list(new_set1)
print(new_list2)

[1, 2, 4]

In [13]:
# we can mix different types
# set is unordered data 
b = set()
b.add('apple')
b.add('banana')
b.add(1)
print(b)

{1, 'banana', 'apple'}

In [14]:
# find sum of unique numbers in this list
given_list2 = [1, 3, 4, 1, 3]

In [15]:
new_set2 = set()
for x in given_list2:
    new_set2.add(x)
total = 0
for y in new_set2:
    total += y
print(total)
print()
# another way
total1 = sum(new_set2)
print(total1)

8

8