In [1]:
a = ["banana", "apple", "microsoft"]

In [2]:
# how to print each element of list 'a'?
print(a[0])
print(a[1])
print(a[2])

# but it will be much overhead for too many elements in a list
# and not efficient as well

banana
apple
microsoft

In [3]:
# we can use loop in python to iterate over the list and 
# print each item in the list
# this solution is scalable

for element in a:
    print(element)
    
# we can have as many statement in body of for loop

banana
apple
microsoft

In [4]:
b = [20, 10, 5]
total = 0
for e in b:
    total = total + e
    
print(total)

35

In [5]:
# 1, 2, 3, 4
# we can use range function
range(1, 5)
# create a iterable starting with 1 through 5 
# but not including 5
# range(start, n+1) i.e. from 'start' to n
print(range(1, 5))
print(type(range(1, 5)))

range(1, 5)
<class 'range'>

In [6]:
# range can be converted into list/tuple

c = list(range(1, 5))
print(c)

[1, 2, 3, 4]

In [7]:
# we can iterate over range itself 
# without/with casting it into list/tuple
total2 = 0
for i in range(1, 5):
    total2 += i

print(total2)

10

In [8]:
print(list(range(1, 8)))

[1, 2, 3, 4, 5, 6, 7]

In [9]:
# modulo operator
# it returns remainder of the division operation
print(4 % 3)

1

In [10]:
print(5 % 3)

2

In [11]:
print(1 % 3)

1

In [12]:
print(6 % 3)

0

In [13]:
total3 = 0
for i in range(1, 8):
    if i % 3 == 0:
        total3 += i
        
print(total3)

9

In [14]:
# Task
# compute all multiples of 3, 5
# that are less than 100
print(list(range(1, 100)))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [15]:
total4 = 0
for i in range(1, 100):
    if (i % 3 == 0) or (i % 5 == 0):
        total4 += i
        
print(total4)

2318